* {
  margin: 0%;
  padding: 0%;
}

.nav-link:hover {
  color: #f35525 !important;
}

.carousel-caption {
  margin-bottom: 200px;
}
.carousel-caption p {
  font-size: 48px;
  color: white;
}

.navbar-brand {
  font-size: 30px;
}

.carousel-caption h2 {
  font-size: 58px;
  font-weight: 800;
  color: white;
}

a.bg-secondary:hover {
  background-color: #f35525 !important;
}

.bi-pencil-square {
  font-size: 36px;
}

.card-content h1 {
  font-size: 10px;
}

.video-view {
  height: 120vh;
  margin-top: 20px;
}

.card-12 {
  background-color: #fbd9cf !important;
}

.play-button {
  background-color: #f35525aa;
}

.play-button i {
  color: white;
  font-size: 59px;
}

.video-heading {
  font-size: 2rem;
}

.play-button {
  width: 80px;
  height: 80px;
}

.villa-badge {
  background-color: #fde3d8;
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
}
.villa-price {
  color: #ff6b35;
  font-weight: 700;
}

.villa-bgg {
  background-color: rgb(246, 237, 237);
}

.contact-page {
  background-image: url("Assets/contactpage.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.contact-card {
  margin-top: 29px;
}

.c5 {
  margin-top: 30px !important;
}

.contact-row {
  margin-top: 90px !important;
}

.tfs-card {
  margin-left: 0px;
  max-width: 350px !important;
}
/* Mobile view adjustments */
@media (max-width: 576px) {
  .video-subtitle {
    font-size: 0.85rem;
  }

  .video-heading {
    font-size: 11px;
  }

  .play-button {
    width: 40px;
    height: 40px;
  }

  .img-pillow {
    width: 195px;
  }

  .bi-play-circle-fill {
    font-size: 1.5rem !important;
  }

  .video-view {
    height: 35vh;
  }

  .contact-card {
    margin-top: 118px !important;
  }

  .feature-txt {
    margin-top: 35px;
  }

  .top-nav{
    display: none !important;
  }
}
